.artItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(2, 2, 2, 0.25);
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 12px;
  background-color: #fcfcfc;
}

.artItem h2 {
  font-size: 2rem;
  color: #f7e702;
}

.artItem h3 {
  color: #eccf77;
  margin: 0;
  font-size: 1rem;
}

.artProgress {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
}

.artDate {
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  height: 5.5rem;
  border: 1px solid #ececec;
  background-color: #2a2a2a;
  color: white;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}

.artDate__month {
  font-size: 0.75rem;
  font-weight: bold;
}

.artDate__year {
  font-size: 0.75rem;
}

.artDate__day {
  font-size: 1.5rem;
  font-weight: bold;
}
