.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #6c6c6c;
  padding: 0 2rem;
}

.main-header h1 {
  color: white;
}

.userManagement {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.userManagement p {
  display: flex;
  color: white;
}